
```{=html}

<% for (const week of items) { %>
  <h4>Week <%= week.week %></h4>
  <div class="week-x-box">
  <div class="daily-sched">

  <% for (const day of week.days) { %>
    <div class="date-cell">
    <p><%= day['display-date'] %></p>
    </div>
    <div class="materials-cell">
    <p><span class="daily-topic"><%= day.topic %></span>
    <br>
    
    <% for (const item of day.items) { %>
      <% if (!item.ignore){ %>
        <a href="<%= item.href %>" class="btn btn-success btn-sm"><%= item.type %></a>
      <% } else{ %>  
        <a href="<%= item.href %>" class="btn btn-secondary btn-sm disabled"><%= item.type %></a>
      <% } %>
      
    <% } %>
    
    </p>
    </div>
    
  <% } %>
  
  </div>
  <div class="resources">
  <p><span">Resources</span></p>
  <ul>
  <li>The first</li>
  <li>The second</li>
  <li>The third</li>
  </ul>
  </div>
  </div>
<% } %>
```