
```{=html}

<% for (const week of items) { %>
  <h4>Week <%= week.week %></h4>
  <div class="week-x-box">
  <div class="daily-sched">

  <% for (const day of week.days) { %>
    <div class="date-cell">
    <p><%= day['display-date'] %></p>
    </div>
    <div class="materials-cell">
    <p><span class="daily-topic"><%= day.topic %></span><br>
    <% if (day.docs && day.docs.length > 0) { %>
      <% for (const doc of day.docs) { %>
        <% if (doc['section-landing-page'] === undefined || doc['section-landing-page'] === false){ %>
          <% if (!doc.draft){ %>
            <a href="<%= doc.href %>" class="btn btn-success btn-sm"><%= doc.type %></a>
          <% } else if (doc.projectProfile === "staff-site") { %>
            <a href="<%= doc.href %>" class="btn btn-secondary btn-sm"><%= doc.type %></a>
          <% } else { %>
            <button type="button" class="btn btn-success" disabled><%= doc.type %></button>
          <% } %>
        <% } %>
      <% } %>
    <% } %>
    </p>
    </div>
    
  <% } %>
  
  </div>
  <div class="resources">
  <p><span">Resources</span></p>
  <ul>
  <% if (week.resources && week.resources.length > 0) { %>
    <% for (const item of week.resources) { %>
      <li><%= item %></li>
    <% } %>
  <% } else { %>
    <li>None this week</li>
  <% } %>
  </ul>
  </div>
  </div>
<% } %>

```