
```{=html}

<% for (const week of items) { %>
  <h4>This Week</h4>
  <div class="week-x-box">
  <div class="daily-sched">

  <% for (const day of week.days) { %>
    <div class="date-cell">
    <p><%= day['display-date'] %></p>
    </div>
    <div class="materials-cell">
    <p><span class="daily-topic"><%= day.topic %></span><br>
    <% if (day.items && day.items.length > 0) { %>
      <% for (const item of day.items) { %>
        <% if (item.render){ %>
          <a href="<%= item.href %>" class="btn btn-success btn-sm"><%= item.type %></a>
        <% } %>
      <% } %>
    <% } %>
    </p>
    </div>
    
  <% } %>
  
  </div>
  <div class="resources">
  <p><span">Resources</span></p>
  <ul>
  <% if (week.resources && week.resources.length > 0) { %>
    <% for (const item of week.resources) { %>
      <li><%= item %></li>
    <% } %>
  <% } else { %>
    <li>None this week</li>
  <% } %>
  </ul>
  </div>
  </div>
<% } %>
```